:export {
  menuText: var(--menuText);
  menuActiveText: var(--menuActiveText);
  subMenuActiveText: var(--subMenuActiveText);

  menuBg: var(--menuBg);
  menuHover: var(--menuHover);

  subMenuBg: var(--subMenuBg);
  subMenuHover: var(--subMenuHover);

  sideBarWidth: var(--sideBarWidth);
}

/* :root {
  --menuText: #bfcbd9;
  --menuActiveText: #ffffff;
  --subMenuActiveText: #f4f4f5;

  --menuBg: #304156;
  --menuHover: #263445;

  --subMenuBg: #1f2d3d;
  --subMenuHover: #001528;

  --sideBarWidth: 210px;
} */
